<div class="bg-[url({{ '/static/flowers.jpg' | htmlBaseUrl }})] bg-contain h-6 bg-repeat-x mb-13"></div>
<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a href="/" class="text-red-700 hover:text-red-800 flex title-font font-medium items-center mb-4 md:mb-0">
      <img src="/static/ticha1.gif" alt="Ticha Logo" class="h-10" />
      <span class="ml-2 text-xl">Ticha Document Explorer</span>
    </a>
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 flex flex-wrap items-center text-base justify-center gap-4">
      {% for item in site.menu %}
        {% if item.sub.size %}
        <div>
          <button type="button" class="dropdown-toggle flex items-center justify-start gap-2 cursor-pointer">
            <span class="pointer-events-none select-none">{{ item.title }}</span>
            <svg class="w-3 h-3 pointer-events-none" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
          </button>
          <div class="dropdown-menu absolute hidden py-2 w-48">
            {% for sub in item.sub %}
            <a href="{{ sub.url }}" class="block pb-1">{{ sub.title }}</a>
            {% endfor %}
          </div>
        </div>
        {% else %}
        <a href="{{ item. url }}" class="mr-5 hover:text-gray-900">{{ item.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>
    <a href="#" class="inline-flex items-center bg-red-700 border-0 py-1 px-3 focus:outline-none hover:bg-red-800 rounded text-white mt-4 md:mt-0">
      Ticha Project Home
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a>
  </div>
</header>