<header class="bg-neutral-dark py-12 sm:py-18 shadow-lg">
  <div class="container px-5 mx-auto">
    <div class="flex md:flex-nowrap flex-wrap gap-12 w-full items-baseline-last min-h-24 justify-between">
      <div>
        <h1 class="sm:text-4xl text-2xl font-bold title-font mb-2 text-text-dark">{{ title }}</h1>
        <div class="h-1 w-20 bg-accent-light rounded mt-4 mb-8"></div>
        <div class="font-light sm:text-2xl text-lg text-text-light mb-2 max-w-[50ch] [&_p]:my-4 [&_a]:tracking-tight [&_a]:font-medium [&_a]:text-accent-light [&_a:hover]:text-accent-dark">
          <p>
            <a href="https://ticha.haverford.edu" target="_blank">Ticha ↗</a> (pronounced [ˈti.tʃə] from the Colonial Valley Zapotec word for 'word,' 'language,' or 'text') is an international effort to document and promote Zapotec languages and knowledge through workshops, events, and online resources provided to the public at no cost.
          </p>
          <p>
            Here in the <a href="/get-started/guides">Ticha Digital Text Explorer</a>, you'll find <a href="/explore/documents?Language=Zapotec">Zapotec documents</a> collected across archives as well as <a href="/explore/documents?Language=Spanish&is_translation=true" >Spanish translation documents</a> to study and compare. Some documents are provided as <a href="/explore/editions" >Digital Editions</a> with additonal transcription, translation, and <a href="/get-started/guides/linguists" >linguistic analysis work</a>. 
          </p>
          <p>Start exploring with the links below!</p>
        </div>
      </div>
    </div>
  </div>
</header>