@import "tailwindcss";

::selection {
  background: #fcf49a;
}

.dropdown {
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  margin: 30px;
  cursor: pointer;
}

.dropdown.closed .menu {
  height: 0px;
}