---
layout: "base"
---
  {% include "components/headers/home.html" %}

  <div class="container px-5 pb-24 pt-12 mx-auto">
    <div class="grid xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2 gap-6 lg:gap-12">
      {% for card in cards %}
      <!-- <div class=""> -->
        <a href="{{ card.link }}">
          <div class="transition duration-250 ease-in-out hover:scale-105 w-full">
            <img class="lg:h-48 h-32 shadow w-full object-cover object-center mb-6 rounded-2xl" src="{{ card.img | default: 'https://dummyimage.com/720x400 '}}" alt="content">
            <p class="uppercase tracking-widest text-accent-light text-sm font-medium title-font">{{ card.eyebrow }}</p>
            <h2 class="text-2xl text-text-dark font-bold my-2 leading-tight">{{ card.label }}</h2>
          </div>
        </a>
      <!-- </div> -->
      {% endfor %}
    </div>
  </div>
